@media screen and (max-width:1024px){
    /*//.........NAVIGATION STYLING......// */
    .nav-links{
        width: 50%;
    }
}

/* //................ ANDROID MOBILE VIEW ............// */

@media screen and (max-width:768px) {
    .loading{
        width: 20px;
        height: 20px;
    }

    .site-name{
        font-size: 30px;
    }

    .nav-links{
        position: absolute;
        right: 0;
        -ms-flex-direction: column;
        flex-direction: column;
        justify-content: space-evenly;
        height: 90vh;
        padding: 70px;
        top: 8vh;
        width: 70%;
        transform: translateX(100%);
        transition: .6s transform ease-in-out;
    }

    .nav-links li{
        opacity: 0;
        transform: translateX(50px);
        border-bottom: 2px solid #000000;
       padding: 3px 2px;
    }

    .burger{
        display: block;
        cursor: pointer;
    }

    .line-1{
        transform: rotate(-45deg) translate(-6px, 4px);
    }
    .line-2{
        opacity: 0;
    }
    .line-3{
        transform: rotate(45deg) translate(-6px, -4px);
    }

    /* //......THESE_ARE_CALLED_BY_JAVASCRIPT........// */

    .nav-links-active{
        transform: translateX(0%);
        transition: .6s transform ease-in-out;
    }

    @keyframes linksUp {
       100% {
           opacity: 1;
            transform: translateX(0px);
        }
    }

    .intro-page{
        background-image: url("../res/img-min.jpg");
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position: center center;
        background-blend-mode: normal;
    }

    .intro-page::before{
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: #000000;;
        opacity: 0.7;
        filter: grayscale(100%);
    }



    #logo{
        top: 40%;
        left: 50%;
    }

    .under-logo{
        top: 60%;
        left: 50%;
        flex-direction: column;
        height: 10%;
        font-size: 25px;
    }


    .t1{
       transform: translateX(0px);
    }

    .t2{
        transform: translate(0px, 30px);
    }

    @keyframes text-enter01{
        from{
            transform: translateX(-150px);
            opacity: 0;
        } to{
            transform: translateX(0px);
            opacity: 1;
        }
    }

    @keyframes text-enter02{
        from{
            transform: translateY(40px);
            opacity: 0;
        } to{
            transform: translateY(0px);;
            opacity: 1;
        }
    }

    .finish-line{
        width: 85%;
        height: 5px;
        top: 70%;
    }

}