@media screen and (max-width:1024px){
    /*//.........NAVIGATION STYLING......// */
    .nav-links{
        width: 50%;
    }
}














@media screen and (max-width:768px) {
    .nav-links{
        position: absolute;
        right: 0;
        flex-direction: column;
        height: 92vh;
        top: 8vh;
        width: 70%;
        background: #ffffff;
        transform: translateX(100%);
        transition: .6s transform ease-in-out;
    }

    .nav-links li{
        opacity: 0;
        transform: translateX(50px);
    }

    .burger{
        display: block;
    }



    /* //......THESE_ARE_CALLED_BY_JAVASCRIPT........// */

    .nav-links-active{
        transform: translateX(0%);
        transition: .6s transform ease-in-out;
    }

    @keyframes linksUp {
       100% {
           opacity: 1;
            transform: translateX(0px);
        }
    }

    




}